<p >
    <a href="{% url 'learning_logs:index' %}"> Learning Log</a>
    <a href="{% url 'learning_logs:topics' %}">Topics</a>
    {% comment %} <a href="{% url 'learning_logs:new_topic' %}">Add new topic</a> {% endcomment %}
    {%if user.is_authenticated%}
        Hello Lee Lar,{{user.username}}.
        <a href={%url 'users:logout'%}>Log out</a>
    {%else%}
        <a href={%url 'users:register'%}>Register</a>

        <a href={%url 'users:login'%}>Log in</a>
    {%endif%}

</p>

{% block content %} {%endblock content%}